@font-face {
    font-family: 'Azonix';
    src: url('https://iambdan.github.io/custom-font-hosting/azonix-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BdanFont';
    src: url('https://iambdan.github.io/custom-font-hosting/azonix-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }